html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
}
body{
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: #fff;
}
input[type=checkbox]{
	display: none;	
	&:checked + .custom-check{
		&:before{
			content: "\f046";
			font-family: "FontAwesome";
			
		}
	}
}
.custom-check{
	
	&:before{
		content: "\f096";
		font-family: "FontAwesome";
	}

}

.content-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/bg-1.png');
	background-position: center;
	background-size: cover;
	overflow: auto;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #061639;
		opacity: 0.5;
	}
	#login_page{
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%,-50%);
		.content{
			min-width: 350px;
			.btn-login{
				border-radius: 25px !important;
				color: white;
			}
			a.forgetPwd, a.signUp{	
				color: white;
			}
			.social-icon-login{
				.social-icon{
					color: white;
					text-decoration: none;
					display: flex;
					justify-content: center;
					padding: 8px 0;
					border-radius: 25px;
					margin-bottom: 10px;
					i{
						margin-right: 10px;
					}
				}
				.fb{
					background-color: #3b5998;
					&:hover{
						background-color: #28498b;
					}
				}
				.google{
					background-color: #DB4437;
					&:hover{
						background-color: #D93025;
					}
				}
			}
		}
	}
}
